.wp-block-autotype-block-autotype-block{
  width: 100%;
  background: beige;
  text-align: center;
  padding: 100px 0;
  font-size: 65px;
  font-family: "Sofia";
  background-image: url('../img/blue-snow.png');
}
